.tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #D7DBDD;
}

.tab {
  cursor: pointer;
  padding: 5px 30px;
  color: #16A2D7;
  font-size: 12px;
  border-bottom: 2px solid transparent;
}

.tab.is-tab-selected {
  border-bottom-color: #4EBBE4;
}

/*.box {
  height:100%;
  width:100%;
  position: relative;
}*/

.CodeMirror {
  font-size: 16pt;
  line-height:21px;
  height: 1600px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#preview {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
